[build]
base = "/"
publish = "public/"
command = """
    set -e
    export NODE_OPTIONS="--max_old_space_size=4096"
    mkdir -p public/
    npm run build
    mv build/ public/docs/
  """

[[redirects]]
  from = "/docs/architecture/*"
  to = "/docs/vcluster/introduction/architecture/"

[[redirects]]
  from = "/docs/cli/*"
  to = "https://www.vcluster.com/docs/vcluster/cli/:splat"

[[redirects]]
  from = "/docs/deploying-vclusters/*"
  to = "https://www.vcluster.com/docs/vcluster/deploy/:splat"

[[redirects]]
  from = "/docs/getting-started/*"
  to = "/docs/vcluster/"

[[redirects]]
  from = "/docs/networking/*"
  to = "https://www.vcluster.com/docs/vcluster/configure/vcluster-yaml/networking/:splat"

[[redirects]]
  from = "/docs/security/*"
  to = "https://www.vcluster.com/docs/platform/understand/what-are-virtual-clusters#robust-security-and-isolation"

[[redirects]]
  from = "/docs/syncer/*"
  to = "https://www.vcluster.com/docs/vcluster/0.20.0/introduction/architecture#syncer"

[[redirects]]
  from = "/docs/using-vclusters/*"
  to = "https://www.vcluster.com/docs/vcluster/introduction/what-are-virtual-clusters#common-use-cases"

[[redirects]]
  from = "/docs/config-reference/"
  to = "/docs/vcluster/vcluster-yaml/"

[[redirects]]
  from = "/docs/storage/"
  to = "https://www.vcluster.com/docs/vcluster/category/storage"

[[redirects]]
  from = "/docs/what-are-virtual-clusters/"
  to = "https://www.vcluster.com/docs/vcluster/introduction/what-are-virtual-clusters"

[[redirects]]
  from = "/docs/help&tutorials/*"
  to = "https://www.vcluster.com/docs/vcluster/"

[[redirects]]
  from = "/docs/deploy/basics/*"
  to = "/docs/vcluster/deploy/basics/"

### Permalinks for the platform UI.
## The purpose of this is to keep the platform resilient against changes in the docs,
## such that we can fix routing of docs links here, rather than requiring customers
## to update to a new version.

## CRDs

# Project
[[redirects]]
  from = "/docs/platform-ui-link/platform/crd/project"
  to = "/docs/platform/api/resources/project"

[[redirects]]
  from = "/docs/platform-ui-link/platform/crd/project/:version"
  to = "/docs/platform/:version/api/resources/project"

# Project Secret
[[redirects]]
  from = "/docs/platform-ui-link/platform/crd/projectsecret"
  to = "/docs/platform/administer/secrets/project/create"

[[redirects]]
  from = "/docs/platform-ui-link/platform/crd/projectsecret/:version"
  to = "/docs/platform/:version/administer/secrets/project/create"

# Understanding Secrets
[[redirects]]
  from = "/docs/platform-ui-link/platform/what-are-secrets"
  to = "/docs/platform/understand/what-are-secrets"

[[redirects]]
  from = "/docs/platform-ui-link/platform/what-are-secrets/:version"
  to = "/docs/platform/:version/understand/what-are-secrets"

# Team
[[redirects]]
  from = "/docs/platform-ui-link/platform/crd/team"
  to = "/docs/platform/api/resources/team"

[[redirects]]
  from = "/docs/platform-ui-link/platform/crd/team/:version"
  to = "/docs/platform/:version/api/resources/team"

# User
[[redirects]]
  from = "/docs/platform-ui-link/platform/crd/user"
  to = "/docs/platform/api/resources/user"

[[redirects]]
  from = "/docs/platform-ui-link/platform/crd/user/:version"
  to = "/docs/platform/:version/api/resources/user"

# Cluster Role Template
[[redirects]]
  from = "/docs/platform-ui-link/platform/crd/clusterroletemplate"
  to = "/docs/platform/api/resources/clusterroletemplate"

[[redirects]]
  from = "/docs/platform-ui-link/platform/crd/clusterroletemplate/:version"
  to = "/docs/platform/:version/api/resources/clusterroletemplate"

# Owned Access Key
[[redirects]]
from = "/docs/platform-ui-link/platform/crd/ownedaccesskey"
to = "/docs/platform/api/resources/ownedaccesskey"

[[redirects]]
from = "/docs/platform-ui-link/platform/crd/ownedaccesskey/:version"
to = "/docs/platform/:version/api/resources/ownedaccesskey"

## Misc. platform links

# Database connector
[[redirects]]
from = "/docs/platform-ui-link/platform/database-connector"
to = "/docs/platform/administer/connector/database"

[[redirects]]
from = "/docs/platform-ui-link/platform/database-connector/:version"
to = "/docs/platform/:version/administer/connector/database"

# Permissions overview
[[redirects]]
from = "/docs/platform-ui-link/platform/permissions-overview"
to = "/docs/platform/administer/users-permissions/overview"

[[redirects]]
from = "/docs/platform-ui-link/platform/permissions-overview/:version"
to = "/docs/platform/:version/administer/users-permissions/overview"

# OIDC tutorial
[[redirects]]
  from = "/docs/platform-ui-link/platform/how-to-oidc-provider"
  to = "/docs/platform/how-to/oidc-provider"

[[redirects]]
  from = "/docs/platform-ui-link/platform/how-to-oidc-provider/:version"
  to = "/docs/platform/:version/how-to/oidc-provider"

# Sleep mode tutorial
[[redirects]]
  from = "/docs/platform-ui-link/platform/working-with-sleep-mode"
  to = "/docs/platform/use-platform/virtual-clusters/key-features/sleep-mode#working-with-sleep-mode"

[[redirects]]
  from = "/docs/platform-ui-link/platform/working-with-sleep-mode/:version"
  to = "/docs/platform/:version/use-platform/virtual-clusters/key-features/sleep-mode#working-with-sleep-mode"

# Config
[[redirects]]
  from = "/docs/platform-ui-link/platform/config"
  to = "/docs/platform/configure/config"

[[redirects]]
  from = "/docs/platform-ui-link/platform/config/:version"
  to = "/docs/platform/:version/configure/config"

# Quick Start Guide / vCluster CLI
[[redirects]]
  from = "/docs/platform-ui-link/platform/quick-start-guide"
  to = "/docs/platform/install/quick-start-guide"

[[redirects]]
  from = "/docs/platform-ui-link/platform/quick-start-guide/:version"
  to = "/docs/platform/:version/install/quick-start-guide"

# karpenter integration
[[redirects]]
  from = "/docs/platform-ui-link/platform/karpenter-integration"
  to = "/docs/platform/integrations/karpenter"

[[redirects]]
  from = "/docs/platform-ui-link/platform/karpenter-integration/:version"
  to = "/docs/platform/:version/integrations/karpenter"

# Parameters
[[redirects]]
  from = "/docs/platform-ui-link/platform/template-parameters"
  to = "/docs/platform/administer/templates/parameters"

[[redirects]]
  from = "/docs/platform-ui-link/platform/template-parameters/:version"
  to = "/docs/platform/:version/administer/templates/parameters"

# Sleep Mode
[[redirects]]
  from = "/docs/platform-ui-link/platform/sleep-mode"
  to = "/docs/platform/use-platform/virtual-clusters/key-features/sleep-mode"

[[redirects]]
  from = "/docs/platform-ui-link/platform/sleep-mode/:version"
  to = "/docs/platform/:version/use-platform/virtual-clusters/key-features/sleep-mode"

# Connect cluster
[[redirects]]
  from = "/docs/platform-ui-link/platform/connect-cluster"
  to = "/docs/platform/administer/clusters/connect-cluster"

[[redirects]]
  from = "/docs/platform-ui-link/platform/connect-cluster/:version"
  to = "/docs/platform/:version/administer/clusters/connect-cluster"

# Project quotas
[[redirects]]
  from = "/docs/platform-ui-link/platform/project-quotas"
  to ="/docs/platform/administer/projects/quotas"

[[redirects]]
  from = "/docs/platform-ui-link/platform/project-quotas/:version"
  to ="/docs/platform/:version/administer/projects/quotas"

## Misc. vCluster links

# Migrate vCluster configuration / Backup and Restore
[[redirects]]
from = "/docs/platform-ui-link/vcluster/backup-restore-migration"
to = "/docs/vcluster/manage/backup-restore#migrate-and-override-vcluster-configuration-options-to-create-a-new-vcluster"

[[redirects]]
from = "/docs/platform-ui-link/vcluster/backup-restore-migration/:version"
to = "/docs/vcluster/:version/manage/backup-restore#migrate-and-override-vcluster-configuration-options-to-create-a-new-vcluster"

# Supported Migration Options / Backup and Restore
[[redirects]]
  from = "/docs/platform-ui-link/vcluster/supported-migration-options"
  to = "/docs/vcluster/manage/backup-restore#supported-migration-options"

[[redirects]]
  from = "/docs/platform-ui-link/vcluster/supported-migration-options/:version"
  to = "/docs/vcluster/:version/manage/backup-restore#supported-migration-options"

# Control Plane
[[redirects]]
  from = "/docs/platform-ui-link/vcluster/control-plane"
  to = "/docs/vcluster/category/components"

[[redirects]]
  from = "/docs/platform-ui-link/vcluster/control-plane/:version"
  to = "/docs/vcluster/:version/category/components"

# Control Plane > Backing Store
[[redirects]]
  from = "/docs/platform-ui-link/vcluster/backing-store"
  to = "/docs/vcluster/configure/vcluster-yaml/control-plane/components/backing-store/"

[[redirects]]
  from = "/docs/platform-ui-link/vcluster/backing-store/:version"
  to = "/docs/vcluster/:version/configure/vcluster-yaml/control-plane/components/backing-store/"

# Control Plane > Distro
[[redirects]]
  from = "/docs/platform-ui-link/vcluster/control-plane-distro"
  to = "/docs/vcluster/configure/vcluster-yaml/control-plane/components/distro/"

[[redirects]]
  from = "/docs/platform-ui-link/vcluster/control-plane-distro/:version"
  to = "/docs/vcluster/:version/configure/vcluster-yaml/control-plane/components/distro/"

# Resource quota
[[redirects]]
  from = "/docs/platform-ui-link/vcluster/resource-quota"
  to = "/docs/vcluster/configure/vcluster-yaml/policies/resource-quota"

[[redirects]]
  from = "/docs/platform-ui-link/vcluster/resource-quota/:version"
  to = "/docs/vcluster/:version/configure/vcluster-yaml/policies/resource-quota"

# 0.20 migration
[[redirects]]
  from = "/docs/platform-ui-link/vcluster/0-20-migration"
  to = "/docs/vcluster/reference/migrations/0-20-migration"

[[redirects]]
  from = "/docs/platform-ui-link/vcluster/0-20-migration/:version"
  to = "/docs/vcluster/:version/reference/migrations/0-20-migration"

# Sync from host
[[redirects]]
  from = "/docs/platform-ui-link/vcluster/sync-from-host"
  to = "/docs/vcluster/configure/vcluster-yaml/sync/from-host/"

[[redirects]]
  from = "/docs/platform-ui-link/vcluster/sync-from-host/:version"
  to = "/docs/vcluster/:version/configure/vcluster-yaml/sync/from-host/"

# Sync from host > Nodes
[[redirects]]
  from = "/docs/platform-ui-link/vcluster/nodes"
  to = "/docs/vcluster/configure/vcluster-yaml/sync/from-host/nodes"

[[redirects]]
  from = "/docs/platform-ui-link/vcluster/nodes/:version"
  to = "/docs/vcluster/:version/configure/vcluster-yaml/sync/from-host/nodes"

# Sync to host
[[redirects]]
  from = "/docs/platform-ui-link/vcluster/sync-to-host"
  to = "/docs/vcluster/configure/vcluster-yaml/sync/to-host/"

[[redirects]]
  from = "/docs/platform-ui-link/vcluster/sync-to-host/:version"
  to = "/docs/vcluster/:version/configure/vcluster-yaml/sync/to-host/"

# Hybrid scheduling
[[redirects]]
  from = "/docs/platform-ui-link/vcluster/hybrid-scheduling"
  to = "/docs/vcluster/configure/vcluster-yaml/sync/to-host/core/pods/hybrid-scheduling"

[[redirects]]
  from = "/docs/platform-ui-link/vcluster/hybrid-scheduling/:version"
  to = "/docs/vcluster/:version/configure/vcluster-yaml/sync/to-host/core/pods/hybrid-scheduling"

# vcluster.yaml
[[redirects]]
  from = "/docs/platform-ui-link/vcluster/vcluster-yaml"
  to = "/docs/vcluster/configure/vcluster-yaml/"

[[redirects]]
  from = "/docs/platform-ui-link/vcluster/vcluster-yaml/:version"
  to = "/docs/vcluster/:version/configure/vcluster-yaml/"

[[redirects]]
  from = "/docs/vcluster/0.27.0/*"
  to = "/docs/vcluster/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/docs/platform/4.3.0/*"
  to = "/docs/platform/:splat"
  status = 301
  force = true