# Dependencies
node_modules/

# Test outputs
screenshots/
playwright-report/
test-results/
log/
*.png
*.jpg

# BrowserStack
browserstackSetupConfig.json
playwright-browserstack-sdk.config.temp.json

# Logs
*.log
npm-debug.log*
local.log

# OS files
.DS_Store
Thumbs.db
