.matrixTable {
  border-collapse: collapse;
  width: auto;
  margin-bottom: 1em;
}

.matrixTable th,
.matrixTable td {
  border: 1px solid var(--ifm-table-border-color);
  padding: 8px 12px;
  text-align: center;
}

.matrixTable thead th {
  background: var(--ifm-table-stripe-background);
  font-weight: 600;
}

.matrixTable tbody td:first-child {
  text-align: left;
}

.statusCell {
  font-size: 1.1em;
}

.legend {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5em;
}

.legend li {
  margin-bottom: 0.25em;
}

.noteRef {
  font-size: 0.7em;
  margin-left: 1px;
  color: var(--ifm-color-warning-dark);
}

.notes {
  margin-top: 0.5em;
  padding-left: 1.5em;
  font-size: 0.9em;
  color: var(--ifm-font-color-secondary);
}

.notes li {
  margin-bottom: 0.25em;
}
