/* Footer icon links */
.footer-create-link:before {
  content: "";
  margin-right: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23666666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7'%3E%3C/path%3E%3Cpath d='M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.footer-devpod-link:before {
  content: "";
  margin-right: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23666666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.footer-create-link, 
.footer-devpod-link {
  display: flex;
  align-items: center;
  color: var(--ifm-color-gray-700);
  margin-bottom: 12px;
  font-weight: 500;
}

.footer-create-link:hover, 
.footer-devpod-link:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
}