.version-selector-wrapper {
  position: relative;
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.version-selector {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
}

.version-selector > div {
  border: 1px solid #5d87e1;
  border-radius: 3px;

  width: 320px;
  background-color: #f6f7f8;
  font-size: 14px;
}

.version-selector > div > a {
  margin: 2px 0;
  justify-content: left;
}

.version-selector > div:hover {
  outline: 1px solid #4776DE;
  background-color: #F6FBFF;
}

.version-selector > div > a::after {
  position: absolute !important;
  right: 10px;
  top: 16px !important;
}

.version-selector > div > a::before {
  content: "VERSION";
  margin-right: 5px;
}

.product-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.product-selector > div {
  border: 1px solid #5d87e1;
  border-radius: 3px;

  width: 320px;
}

.version-selector :global(.dropdown__menu), .product-selector :global(.dropdown__menu) {
  width: 320px;
}

.product-selector > div > a {
  margin: 4px 0;
  justify-content: left;
}

.product-selector > div > a::after {
  position: absolute !important;
  right: 10px;
  top: 22px !important;
}

.product-selector > div:hover {
  outline: 1px solid #4776DE;
}
