.version-selector-wrapper {
  border-right: 1px solid white;
  padding-right: 11px;
  position: relative;
}

.version-selector-wrapper::before {
  position: absolute;
  right: 11px;
  bottom: 0;
  top: 0;

  width: 1px;
  content: " ";
  display: block;
  background-color: rgb(218, 221, 225);
}

.version-selector-wrapper::after {
  height: 1px;
  content: " ";
  display: block;
  background-color: rgb(218, 221, 225);
}

.version-selector {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
}

.version-selector-label {
  font-weight: bold;
}

.return-to-overview {
  display: flex;
  align-items: center;
  padding-left: 20px;

  cursor: pointer;
  font-size: 15px;
  margin: 10px 0;
  color: #2b89ff;
  font-weight: 500;
}