name: Update K8s Compatibility Matrix

on:
  pull_request_target:
    branches: [ main ]
    paths:
      - 'static/api/k8s-compatibility.json'
  workflow_dispatch:

jobs:
  validate-compatibility-matrix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - run: npm install

      - name: Validate matrix JSON
        run: npm run generate-compatibility-matrix
